@media screen and (min-width: 1365px) and (max-width: 1440){
  .grid{
      margin-left:10vh;
  }
}
@media screen and (min-width: 360px) and (max-width: 414){
  .grid{
      margin-left:7vh;
  }
}
.ratingRow{
  padding-top: -20px;
}
.ratingNum{
  color:black;
  font-size: 20px;
}
.star{
  width:20px;
}
.ratingAmt{
  color:black;
  font-size: 20px;
}
.itemBackgroundColor{
  background-color: #F5F5F5;
}
.box {
  margin: 20px;
}
.square{
  margin-left: 80px;
}
.grid {
  min-height: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  margin: auto;
  flex-basis: calc(4% - 3px);
}

.boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}
.aTc{
  background-color: white;
  font-size:"22px";
  margin: "auto";
  border-radius: 20px;
  width:"191px";
  height:"79px";
}
.button:hover{
  background-color:#71FF92;
}
.priceNum{
  font-size:20px;
  font-weight:bold;
}
@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
div .itemName{
  color:black;
  font-weight: bold;
  text-align: left;
  font-size:16px;
  position: absolute;
}
.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}
.aTc{
  margin-top: 15px;
}
.limitedButton{
  margin: 0;
}
@media (min-width: 1800px){
  .ratingRow{
    margin-left: 1%;
  }
}
#dropdown-basic-button{
  margin-top: 50px;
  border-radius: 20px;
  background-color: #71FF92;
  color:black;
  font-weight: bold;
  font-size:20px;
  border: white;
}
.emailListDiv{
  margin-bottom:30px;
}
.filterToggle{
  border-radius: 20px;
  background-color: #F8D1D1;
  color:black;
  font-weight: bold;
  font-size:20px;
  border: white;
}
#root{
  background-color: white;
}
a{
  text-decoration: none;
}
a:hover{
  color:#E10430;
}
.filterToggle:hover{
  background-color: #F8D1D1;
}
@media (min-width: 360px) and (max-width:389px){
  .containerBox{
      width:100vw;
      margin:auto;
  }
  .emailListText{
      margin-left: 10px;
      font-weight: bold;
      font-size:24px;
      margin-top: 20px;
  }
  .modelImg{
      width:86%;
      margin-left: 21%;
      margin-top: 1%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:24vh;
  }
  .emailBox{
      margin-top: 20px;
      width:245%;
      height:57%;
      border:0;
      margin-left: 8%;
  }
  .checkButton{
      margin-left: 121%;
      margin-top: 26%;
      background-color: #3F784C;
      border: none;
      width: 60%;
      height:60%;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:20vh;
      width:20vw;
      border:4px solid black;
      display: none;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:103%;
  }
  .box2{
      background-color:#109648;
      height:20vh;
      margin-left: 11.2%;
      width:20vw;
      border:4px solid black;
      display: none;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:73%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:20vh;
      width:20vw;
      margin-left: 21.2%;
      border:4px solid black;
      display: none;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:125%;
      margin-left: -7%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}
@media (min-width: 390px) {
  .containerBox{
      width:100vw;
      margin:auto;
  }
  .emailListText{
      margin-left: 10px;
      font-weight: bold;
      font-size:24px;
      margin-top: 20px;
  }
  .modelImg{
      width:81.5%;
      margin-left: 21%;
      margin-top: 1%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:24vh;
  }
  .emailBox{
      margin-top: 20px;
      width:245%;
      height:57%;
      border:0;
      margin-left: 8%;
  }
  .checkButton{
      margin-left: 121%;
      margin-top: 26%;
      background-color: #3F784C;
      border: none;
      width: 60%;
      height:60%;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:20vh;
      width:20vw;
      border:4px solid black;
      display: none;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:103%;
  }
  .box2{
      background-color:#109648;
      height:20vh;
      margin-left: 11.2%;
      width:20vw;
      border:4px solid black;
      display: none;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:73%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:20vh;
      width:20vw;
      margin-left: 21.2%;
      border:4px solid black;
      display: none;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:125%;
      margin-left: -7%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}
@media (min-width: 1300px)  {
  .containerBox{
      width:80vw;
      margin:auto;
      margin-top: 50px;
  }
  .emailListText{
      margin-left: 30px;
      font-weight: bold;
      font-size:42px;
      margin-top: 20px;
  }
  .modelImg{
      width:40%;
      margin-left: 60%;
      margin-top: -2%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:15vh;
  }
  .emailBox{
      margin-top: 20px;
      width:189%;
      height:97%;
      border:0;
      margin-left: 8%;
  }
  .checkButton{
      margin-left: 89%;
      margin-top: 7%;
      background-color: #3F784C;
      border: none;
      width: 20%;
      height:100%;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:20vh;
      width:20vw;
      border:4px solid black;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:103%;
  }
  .box2{
      background-color:#109648;
      height:20vh;
      margin-left: 11.2%;
      width:20vw;
      border:4px solid black;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:73%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:20vh;
      width:20vw;
      margin-left: 21.2%;
      border:4px solid black;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:125%;
      margin-left: -7%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}
@media (min-width: 1500px)  {
  .containerBox{
      width:80vw;
      margin:auto;
      margin-top: 50px;
  }
  .emailListText{
      margin-left: 50px;
      font-weight: bold;
      font-size:46px;
      margin-top: 20px;
  }
  .modelImg{
      width:35.5%;
      margin-left: 60%;
      margin-top: -2%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:15vh;
  }
  .emailBox{
      margin-top: 20px;
      width:170%;
      height:87%;
      border:0;
      margin-left: 14%;
  }
  .checkButton{
      margin-left: 77%;
      margin-top: 6%;
      background-color: #3F784C;
      border: none;
      width: 20%;
      height:100%;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:20vh;
      width:20vw;
      border:4px solid black;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:93%;
  }
  .box2{
      background-color:#109648;
      height:20vh;
      margin-left: 11.2%;
      width:20vw;
      border:4px solid black;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:73%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:20vh;
      width:20vw;
      margin-left: 21.2%;
      border:4px solid black;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:125%;
      margin-left: -7%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}
@media (min-width: 1800px)  {
  .containerBox{
      width:80vw;
      margin:auto;
      margin-top: 50px;
  }
  .emailListText{
      margin-left: 50px;
      font-weight: bold;
      font-size:40px;
      margin-top: 20px;
  }
  .modelImg{
      width:27%;
      margin-left: 60%;
      margin-top: -3.7%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:25vh
  }
  .emailBox{
      margin-top: 20px;
      width:130%;
      height:67%;
      border:0;
      margin-left: 14%;
  }
  .checkButton{
      margin-left: 37%;
      margin-top: 6%;
      background-color: #3F784C;
      border: none;
      height:70%;
      width:13%;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:45vh;
      width:35vh;
      border:4px solid black;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:90%;
  }
  .box2{
      background-color:#109648;
      height:45vh;
      margin-left: 11.2%;
      width:35vh;
      border:4px solid black;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:70%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:45vh;
      width:35vh;
      margin-left: 21.2%;
      border:4px solid black;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:120%;
      margin-left: -5%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}
@media (min-width: 1900px)  {
  .containerBox{
      width:80vw;
      margin:auto;
      margin-top: 50px;
  }
  .emailListText{
      margin-left: 50px;
      font-weight: bold;
      font-size:52px;
      margin-top: 20px;
  }
  .modelImg{
      width:27%;
      margin-left: 60%;
      margin-top: -3.7%;
  }
  .emailListDiv{
      width:100%;
      background-color: #E9DAC4;
      height:15vh
  }
  .emailBox{
      margin-top: 20px;
      width:130%;
      height:97%;
      border:0;
      margin-left: 14%;
  }
  .checkButton{
      margin-left: 37%;
      margin-top: 6%;
      width:17%;
      height:100%;
      background-color: #3F784C;
      border: none;
  }
  .threeDivs{
      margin-top:80px;
  }
  .box1{
      background-color:#52B2CF ;
      height:25vh;
      width:20vw;
      border:4px solid black;
  }
  .box1 img{
      bottom:0;
      margin-top: -6%;
      width:93%;
  }
  .box2{
      background-color:#109648;
      height:25vh;
      margin-left: 11.2%;
      width:20vw;
      border:4px solid black;
  }
  .box2 img{
      bottom:0;
      margin-top: 9%;
      width:73%;
      margin-left: 18%;
  }
  .box3{
      background-color:#DC7F9B ;
      height:25vh;
      width:20vw;
      margin-left: 21.2%;
      border:4px solid black;
  }
  .box3 img{
      bottom:0;
      margin-top: 10%;
      width:125%;
      margin-left: -10%;
  }
  .topG{
      width:400px;
  }
  .filterCol{
      margin-top:20px;
  }
  .sortCol{
      margin-top:-30px;
      margin-left:-20px;
  }
}