@media screen and (min-width: 1365px) and (max-width: 1440){
  .grid{
      margin-left:10vh;
  }
}
@media screen and (min-width: 360px) and (max-width: 414){
  .grid{
      margin-left:7vh;
  }
}
.ratingRow{
  padding-top: -20px;
  
}
.star{
  width:40px;
  margin-left: -20px;
}
/* .box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-height: 35vh;

} */
.itemBackgroundColor{
  background-color: #F5F5F5;
}
.box {
  margin: 20px;
}
.square{
  margin-left: 80px;
}
.grid {
  min-height: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  margin: auto;
  flex-basis: calc(30% - 20px);
}

.boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}
.aTc{
  background-color: white;
  font-size:"22px";
  margin: "auto";
  border-radius: 20px;
  width:"191px";
  height:"79px";
}
.button:hover{
  background-color:#71FF92;
}
.priceNum{
  font-size:20px;
  font-weight:bold;
}
@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
div .itemName{
  color:black;
  font-weight: bold;
  text-align: left;
  font-size:16px;
  position: absolute;
}
.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}
.limitedButton{
  margin: 0;
}